body {
  background-color: #333;
}

.player-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #f0f0f0;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.song-title {
    font-size: 24px;
    font-weight: arial;
    color: #333;
    margin-bottom: 10px;
}

.player-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.player-controls button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 15px;
}

.player-controls button:hover {
    background-color: black;
}

.player-controls button i {
    font-size: 24px;
}

#progress-bar {
    width: 100%;
    height: 10px;
    background-color: #ccc;
    margin-top: 10px;
    border-radius: 5px;
}

#progress {
    height: 100%;
    background-color: #333;
    width: 0%;
}

.current-audio {
    display: none;
}

.album-artwork {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    display: block; 
    margin: 0 auto; 
}